h2{
    margin-bottom: 10px;
    color: #000000;
    text-align: center;
    font-size: 27px;
    letter-spacing: 1px;
    font-weight: 50;
    font-family: 'Poppins', sans-serif;
}

/* Estilo da área onde os pedidos são exibidos */


.pedidos {
    background: linear-gradient(135deg, #810020 0%, #a12b3c 40%, #4b0010 100%);
    border-radius: 25px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, -.15);
    padding: 30px;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

.pedidos h2 {
    color: #1b1a14;
    background: linear-gradient(135deg, #000000 00%, #a12b3c 40%, #30000b 100%);
    font-size: 24px;
    font-weight: 1000;
    margin-bottom: 20px;
    border-radius: 25px;
}


.pedidos-area {
    background-color: #ffffff;
    border-radius: 12px;
    padding: 20px;
    max-height: 300px;
    overflow-y: auto;
    box-shadow: inset 0 4px 10px rgba(0, 0, 0, 0.15);
    border: 4px solid #000000;
}





button.voltar{
    text-align: center;
    margin-left: 890px;


}













