/* Estilização do título */

#h2gerente {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: #D4AF37;
    background-color: #810020;
    margin: 0 150px;
    padding: 20px;
    border-radius: 70px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

/* Estilização dos botões */
.btopgerente {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #D4AF37; /* Mantém sua cor original */
    color: #810020; /* Mantém sua cor original */
    border: none;
    padding: 20px; /* Aumentei o padding para dar mais espaço interno */
    margin: 15px; /* Aumentei a margem para melhor espaçamento */
    font-family: "Lora", serif;
    font-size: 18px; /* Aumentei o tamanho da fonte para mais legibilidade */
    width: 160px;
    height: 160px;
    border-radius: 12px; /* Pequeno ajuste para suavizar os cantos */
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15); /* Aumentei a sombra para mais profundidade */
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease; /* Adicionada transição para animação suave */
}

.btopgerente:hover {
    background-color: #c3a037; /* Leve alteração no hover para destaque */
    color: #6f001a; /* Cor ligeiramente mais escura no hover */
    transform: translateY(-5px); /* Animação de elevação ao passar o mouse */
}

i {
    font-size: 2em; /* Aumenta o tamanho do ícone */
    margin-bottom: 10px; /* Espaçamento entre o ícone e o texto */
}


/* Alinhamento central das colunas */
.colgerente {
    text-align: center;
    padding: 20px;
    
    
}

/* Container com margem automática para centralizar */
.container-fluid {
    max-width: 900px;
    margin: 0 auto;
}



