* {
    margin: 0px;
    padding: 0px;
    background-color: #F8F4E3;
}



#cab {
    background-color: #810020;
    height: 55px;
    width: 100%;
}
#cab2 {
    background-color: #810020;
    height: 95px;
    width: 100%;
}
#hr1 {
    margin: 0px 400px;
    border: 2px solid #D4AF37;
}

h1 {
    background-color: #810020;
    color: #D4AF37;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    
}

main {
    background-color: #F8F4E3;
}

.calendario {
    /* border: 2px solid black; */
    margin-top: 20PX;
    border-radius: 15PX;
}
.hcalendario {
    background-color: #810020;
    border-radius: 9px 9px 0px 0px;
    height: 50px;
    text-align: center;
}
.hcalendario>span {
background-color: #810020;
color: #D4AF37;
margin-top: px;
    font-size: 30px;
    font-family: "Lora", serif;
}
.corpocal>p {
    display: inline-block;
    width: 30%;
    
}
.corpocal {
    text-align: center;
    margin: 0px;
    padding: 0px;
    border-radius: 0px 0px 9px 9px;
}

.apoio {
    border: 5px solid #810020;
    border-radius: 15px;
}
.prf    {
    color: #D4AF37;
    background-color: #810020;
    height: 80px;    
    font-size: 25px;
}
.prf>span   {
    color: #D4AF37;
    background-color: #810020;
    
}
/* provisorio */

/* Estilo dos artigos */
.col{
    
    color: #ffffff; /* Texto branco */
    font-family: 'Poppins', sans-serif;
    transition: transform 0.3s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.9); /* Sombra suave */
    border: 2px solid #D4AF37; /* Border dourado */
    background-color: #810020;
    border-radius:5px;
}


.op {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin: 15px;
    background-color: #810020;
    color: #D4AF37;
    border-radius: 15px;
    transition: transform 0.3s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Sombra suave */
}



.op:hover {
    transform: scale(1.05); /* Efeito de hover para aumentar levemente */
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3); /* Sombra mais intensa ao hover */
}

#recepcionista{
    justify-content: flex-end; /* Alinha o conteúdo para a direita */
}

.btop {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    margin-bottom: 15px;
    border: 3px solid #D4AF37;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
}

.btop:hover {
    background-color: #D4AF37;
}



img {
        
        border-radius: 50%; /* Raio da borda para formato redondo */
}

/* .h2rec {
    background-color: #810020;
    
} */
.mesas {
    height: 100px;
    width: 100px;
    border-radius: 15px;
    border: 3px solid #ffffff;
    background-color: #810020;
    color: #d4af37;
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    transition: background-color 0.5s ease, transform 0.5s ease;
}
.mesas:hover {
    height: 100px;
    width: 100px;
    border-radius: 15px;
    border: 3px solid #3cff00;
    background-color: #810020;
    color: #d4af37;
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    transform: scale(1.1);
}
.disabled {
    background-color: gray; /* Cor cinza */
    color: white; /* Texto branco */
    cursor: not-allowed; /* Muda o cursor para indicar que não está habilitado */
    pointer-events: none; /* Desabilita todos os eventos do mouse */
}
.area {
    margin-top: 15px;
}
.liberar {
    background-color: #810020;
    color: #D4AF37;
    border-radius: 8px;
    padding: 8px 20px;
    font-family: "Montserrat" , sans-serif;
    margin-top: 35px;}